/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* VAR CSS */
:root {
  --header-height: 3rem;
  --nav-width: 324px;
  /* Font weight */
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  /* Colors */
  --first-color: #cc4b2c;
  --first-color-dark: #662616;
  --first-color-darken: #290f09;
  --text-color: #54423d;
  --first-color-light: #eae7e6;
  --first-color-lighten: #fffafa;
  /* Font and typo */
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-sice: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  /* Margens */
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  /* z index */
  --z-fixed: 100;
}

@media screen and (min-width: 768px){
  :root{
    --h1-font-size: 2.25rem;
    --h2-font-sice: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/* BASE */
*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: var(--first-color-lighten);
  color: var(--text-color);
  line-height: 1.6;
}

h1,h2,h3,p{
  margin: 0;
}

h3{
  font-weight: var(--font-semi-bold);
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
  }

  a{
    text-decoration: none;
    color: var(--text-color)
  }

  img{
    max-width: 100%;
    height: auto;
    display: block;
  }
/* CLASS CSS */
.section{
  padding: 4rem 0 2rem;
}
.section-title{
  font-size: var(--h1-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-3);
  text-align: center;
}

.section-subtitle{
  display: block;
  font-size: var(--small-font-size);
  color: var(--first-color-dark);
  text-align: center;
  font-weight: var(--font-bold);
  margin-bottom: .25rem;
}

/* LAYOUT */

.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header{
width: 100%;
position: fixed;
top: 0;
left: 0;
z-index: var(--z-fixed);
background-color: var(--first-color-lighten);
box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

/* NAV */
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__menu{
  position: fixed;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100vh;
  padding: 3rem;
  display: flex;
  align-items: center;
  background-color: var(--first-color);
  transition: .5s;
}

.nav__close{
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: var(--first-color-dark);
  cursor: pointer;
}

.nav__item{
  margin-bottom: var(--mb-4);
}

.nav__link{
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--first-color-lighten);
  font-weight: var(--font-bold);
  transition: .3s;
}

.nav__link:hover{
  color: var(--text-color);
  }

.nav__toggle{
  color: var(--first-color-dark);
  font-size: 1.3rem;
  cursor: pointer;
}

/* SHOW MENU */

.show{
  left: 0;
}

/*Active MENU*/

.active{
  color: var(--text-color);
}

/* HOME */

.home__container{
  height: calc(100vh - var(--header-height));
  align-items: center;
}

.home__data{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  text-align: center;
}

.home__img{
  padding-top: 1rem;
  padding-left: .2rem;
  width: 160px;
  height: 160px;
  background-color: var(--first-color);
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: var(--mb-2);
}

.home__img img{
  width: 155px;
}

.home__title{
  font-size: var(--h1-font-size);
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
  }

  .home__profession{
    font-size: var(--small-font-size);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-5);
  }

  .home__social{
    margin-bottom: 5rem;
  }

  .home__social-link{
    display: inline-flex;
    background-color: var(--first-color);
    color: var(--first-color-lighten);
    font-size: 1.1rem;
    border-radius: 50%;
    padding: .40rem;
    margin: 0 var(--mb-1);
    transition: .3s;
  }

  .home__social-link:hover{
    background-color: var(--first-color-dark);
  }

  .home__button{
    width: 100%;
  }

/* BUTTONS */
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: var(--first-color-lighten);
  padding: 1rem 2rem;
  font-weight: var(--font-semi-bold);
  border-radius: .5rem;
  transition: .3s;
}

.button:hover{
  background-color: var(--first-color-dark);
}

.button__light{
  background-color: var(--first-color-lighten);
  color: var(--first-color);
}

.button__light:hover{
  color: var(--first-color-lighten);
}

/* ABOUT */

.about__container{
  row-gap: 2rem;
}

.about__data{
  text-align: center;
}

.about__description{
  margin-bottom: var(--mb-4);
}

.abut__img{
  width: 150px;
  border-radius: .5rem;
  margin: 0 auto;
}

.about__information{
  margin-bottom: var(--mb-4);
}

.about__information-title{
  font-size: var(--h3-font-size);
  color: var(--first-color-dark);
  margin-bottom: var(--mb-2);
}

.about__information-data{
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  margin-bottom: var(--mb-3);
}

.about__information-icon{
  font-size: 1.5rem;
  color: var(--first-color);
  margin-right: var(--mb-4);
}

.about__information-subtitle{
display: block;
font-weight: var(--font-semi-bold);
}

.about__information-subtitle-small{
  font-size: var(--small-font-size);
}

/* SKILSS */

.skills__container{
  row-gap: 2rem;
}

.skills__subtitle{
  font-size: var(--h3-font-size);
  color: var(--first-color-dark);
  margin-bottom: var(--mb-2);
}

.skills__data{
position: relative;
display: flex;
justify-content: space-between;
margin: 0 var(--mb-2);
margin-bottom: var(--mb-4);
}

.skills__name{
  text-transform: uppercase;
}

.skills__bar {
  position: absolute;
  bottom: -.75rem;
  height: .25rem;
  background-color: var(--first-color);
}

.skills__design{
  width: 80%;
}

.skills__research,{
  width: 75%;
}


.skills__comm{
  width: 90%;
}

.skills__research{
  width: 80%;
}

.skills__b2b{
  width: 80%;
}

.skills__html_css{
  width: 80%;
}

.skills__js{
  width: 75%;
}

.skills__angular{
  width: 80%;
}

.skills__react{
  width: 90%;
}

/* EDUCATION */

.education__container{
  row-gap: 2rem;
}

.education__content{
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
}

.education__year, .education__race{
font-size: var(--h3-font-size);
margin-bottom: .25rem;
}

.education__university, .education__program{
  display: block;
  font-size: var(--smaller-font-size);
}

.education__year, .education__university{
  text-align: right;
}

.education__time{
  padding: 0 1rem;
  justify-self: center;
}

.education__rounder{
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: var(--first-color);
  border-radius: 50%;
}

.education__rounder::before{
  content: '';
  position: absolute;
  transform: translate(-4px,  -4px);
  width: 20px;
  height: 20px;
  border: 1px solid var(--first-color);
  border-radius: 50%;
}

.education__line{
  display: block;
  height: 90%;
  width: 2px;
  background-color: var(--first-color);
  transform: translate(5px,-4px);
}

/* SERVICES */

.services__container{
  row-gap: 2rem;
}

.services__content{
  padding: 1.5rem .5rem;
  border: 2px solid var(--first-color);
  border-radius: .5rem;
  text-align: center;
}

.services__icon{
  font-size: 2rem;
  padding: .5rem;
  background-color: var(--first-color);
  color: var(--first-color-lighten);
  border-radius: 50%;
  margin-bottom: var(--mb-2);
}
